@import "basic.css";

.fill {
    background: #000 !important;
}

#fullscreen-trigger {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.2s;
}

body:hover #fullscreen-trigger {
    opacity: 1;
}
