html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: transparent;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.bauchbinde {
    position: fixed;
    left: 0vw;
    width: 100vw;
}

.bb-box {
    display: inline-flex;
}
